/* CSS Document */
/* Color Themes */
.themes-gradient-background{
	background: linear-gradient(to bottom right, #000 25%, #482880 100%);
	background-size: 100%;
	background-attachment: fixed;
}

.themes-gradient-background-black-red {
	background: linear-gradient(to bottom right, #000 25%, #DB181B 100%);
	background-size: 100%;
	background-attachment: fixed;
}

.themes-bg-transparent {
	background-color: transparent !important;
}

.themes-light-gray {
	background-color: #f1f1f1 !important;
	color: #000 !important;
}

.themes-dark-gray {
	background-color: #f1f1f1 !important;
	color: #000 !important;
}

.themes-light-teal {
	background-color: #1fafaf !important;
	color: #000 !important;
}

.themes-white {
	background-color: #fff !important;
	color: #000 !important;
}

.themes-indigo {
	background-color: #3949a3 !important;
	color: #fff !important;
}

.themes-teal {
	background-color: #008578 !important;
	color: #fff !important;
}

/* Text Color Themes */
.themes-text-teal {
	color: #008578;
}

.themes-text-indigo {
	color: #3949a3;
}

.themes-text-gray {
	color: #6f6f6f;
}

.themes-text-light-gray {
	color: #f1f1f1;
}

.themes-white, .themes-white-hover:hover {
	color: #000 !important;
	background-color: #fff !important;
}

/* Blue Themes (W3 Pallette. (2019). Indigo. Retrieved from https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_theme_indigo) */
.themes-blue-light5 {
	background-color: #f2f9fe !important;
	color: #000 !important;
}

.themes-blue-light4 {
	background-color: #d2eafd !important;
	color: #000 !important;
}

.themes-blue-light3 {
	background-color: #a6d4fa !important;
	color: #000 !important;
}

.themes-blue-light2 {
	background-color: #79bff8 !important;
	color: #000 !important;
}

.themes-blue-light1 {
	background-color: #4daaf6 !important;
	color: #000 !important;
}

.themes-blue-base {
	background-color: #2196f3 !important;
	color: #fff !important;
}

.themes-blue-base:hover {
	background-color: #2196f3 !important;
	color: #fff !important;
}

.themes-blue-dark1 {
	background-color: #0c87eb !important;
	color: #fff !important;
}

.themes-blue-dark2 {
	background-color: #0b78d1 !important;
	color: #fff !important;
}

.themes-blue-dark3 {
	background-color: #0a69b7 !important;
	color: #fff !important;
}

.themes-blue-dark4 {
	background-color: #085a9d !important;
	color: #fff !important;
}

.themes-blue-dark5 {
	background-color: #074b83 !important;
	color: #fff !important;
}

/* Purple Themes (W3 Pallette. (2019). Deep purple. Retrieved from https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_theme_deep-purple) */
.themes-purple-light5 {
	background-color: #f6f3fb !important;
	color: #000 !important;
}

.themes-purple-light4  {
	background-color: #e0d6f2 !important;
	color: #000 !important;
}

.themes-purple-light3 {
	background-color: #c1ade5 !important;
	color: #000 !important;
}

.themes-purple-light2 {
	background-color: #a384d8 !important;
	color: #fff !important;
}

.themes-purple-light1 {
	background-color: #845bcb !important;
	color: #fff !important;
}

.themes-purple-base {
	background-color: #673ab7 !important;
	color: #fff !important;
}

.themes-purple-base:hover {
	background-color: #673ab7 !important;
	color: #fff !important;
}

.themes-purple-dark1 {
	background-color: #5d34a4 !important;
	color: #fff !important;
}

.themes-purple-dark2 {
	background-color: #532e92 !important;
	color: #fff !important;
}

.themes-purple-dark3 {
	background-color: #482880 !important;
	color: #fff !important;
}

.themes-purple-dark4 {
	background-color: #3e236d !important;
	color: #fff !important;
}

.themes-purple-dark5 {
	background-color: #341d5b !important;
	color: #fff !important;
}
