/* CSS Document */
/* Layout Themes */
.themes-content {
	margin: auto;
	max-width: 100%;
}

.themes-container {
	padding: 0.01em 15px;
}

.themes-container-tight {
	padding: 0.01em 0px;
}

.padding-small {
	padding: 0 0.1em;
}

.themes-content:after, .themes-container:after, .themes-container-tight:after {
	content: "";
	display: table;
	clear: both;
}

.themes-left {
	float: left !important;
}

.themes-right {
	float: right !important;
}

.themes-center {
	text-align: center !important;
}

.themes-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	text-align: center;
}

.img-fit {
	width: 100%;
	height: 100%;
}

.img-icon {
	max-width: 100px;
	max-height: 100px;
}

/* Layout Positioning Helpers */
.themes-display-container {
	position: relative;
}

.themes-display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}

.themes-display-topright {
	position: absolute;
	right: 0;
	top: 0;
}

.themes-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}

.themes-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
}

.themes-display-middle {
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 100%;
	text-align: center;
}

.themes-display-left {
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 100%;
	text-align: left;
}

.themes-display-topmiddle {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
}

.themes-display-bottommiddle {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* Cards */
.themes-card {
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.themes-card:hover, .themes-hover-shadow:hover {
	color:rgba(203,23,202,1.00);
	box-shadow:0 4px 8px 1px rgba(69,223,231,1.00),0 6px 20px 1px rgba(203,23,202,0.8)!important;
}

.themes-card .events,
.themes-card .steps {
	margin: 12px 6px;
}

.themes-card .events .title h3,
.themes-card .steps .title h4 {
	margin: 12px 6px 0px;
	padding: 0;
}

.themes-card .events .title p,
.themes-card .steps .title p {
	margin: 12px 6px 4px;
	padding: 0px;
}

.themes-card .events .title time,
.themes-card .steps .title time {
	font-style: italic
}

.themes-card .events .description p,
.themes-card .steps .description p {
	margin: 6px 6px;
	padding: 0px;
}

.themes-card .events .title a:link,
.themes-card .steps .title a:link {
	color: #fff;
	text-decoration: none;
}

.themes-card .events .title a:visited,
.themes-card .steps .title a:visited {
	color: #fff;
}

.themes-card .events .title a:hover, 
.themes-card .events .title a:focus,
.themes-card .steps .title a:hover, 
.themes-card .steps .title a:focus {
	color: #79bff8;
	text-decoration: underline;
}

.themes-card .events .title a:active,
.themes-card .steps .title a:active {
	color: #79bff8;
}

.themes-card .events .description a,
.themes-card .steps .description a {
	text-decoration: none;
}

.themes-card .events .description a:link,
.themes-card .steps .description a:link {
	color: #3e236d;
}

.themes-card .events .description a:visited,
.themes-card .steps .description a:visited {
	color: #3e236d;
}

.themes-card .events .description a:hover, 
.themes-card .events .description a:focus,
.themes-card .steps .description a:hover, 
.themes-card .steps .description a:focus {
	color: #0b78d1;
	text-decoration: underline;
}

.themes-card .events .description a:active,
.themes-card .steps .description a:active {
	color: #0b78d1;
}

.themes-card .events .photo,
.themes-card .steps .photo {
	border-radius: 12px;
	border: 5px solid #CB17CA;
	box-shadow: 2px 2px 6px rgba(0,100,200,0.7);
	margin: 16px;
}

.themes-card .events .photo:hover,
.themes-card .steps .photo:hover {
	box-shadow:0 4px 8px 1px rgba(69,223,231,1.00),0 6px 20px 1px rgba(203,23,202,0.8)!important;
}

.themes-card .events .photo img {
	border-radius: 6px 6px 0px 0px;
}

.themes-card .events .photo p {
	color: #000;
	text-align: center;
	padding: 4px 10px;
	margin: 4px 0px;
}

.themes-card .events .outer-photo-box {
	float:right;
	width:300px;
}

.themes-card .events .inner-photo-box {
	border-radius: 12px 12px 0 0;
}

/* Rows */
.themes-row {
	padding: 0 8px;
	margin: auto;
	max-width: 100%;
}

.themes-row .inner-padding {
	padding: 6px 6px;
}

.themes-padding-cards {
	padding: 8px 16px;
}

.themes-row:after {
	content: "";
	display: table;
	clear: both;
}

.themes-1-3rd {
	width: calc(22% - 48px);
}

.themes-2-3rds {
	width: 70%;
	margin-right: 48px;
}

.themes-1-3rd, .themes-2-3rds {
	float: left;
}

.themes-column-25 {
	float: left;
	width: calc(25% - 16px);
	padding: 6px;
	margin: 2px;
}

.themes-column-50 {
	float: left;
	width: calc(50% - 16px);
	padding: 6px;
	margin: 2px;
}

.themes-column-75 {
	float: left;
	width: calc(75% - 16px);
	padding: 6px;
	margin: 2px;
}

/* Columns */
#left-spacer {
	width: 5%;
	padding: 0;
	margin: 0;
}

#content-spacer {
	width: 75%;
	padding: 0;
	margin: 0;
}

.col-right {
	width: 20%;
	padding: 10px;
	margin: 0;
}

.col-left {
	width: 70%;
	padding: 10px;
	margin: 0;
}

.col-1{
	width: 8.33%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-2{
	width: 16.66%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-3{
	width: 25%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-4{
	width: 33.33%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-5{
	width: 41.66%;
	padding: 10px 20px;
	border: 2px solid black;
	margin: 0;
}

.col-6{
	width: 50%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-7{
	width: 58.33%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-8{
	width: 66.66%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-9{
	width: 75%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-10{
	width: 83.33%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-11{
	width: 91.66%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

.col-12{
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}
