/* CSS Document */
/* Custom fonts */
@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}
@font-face {
    font-family: BigShouldersDisplay-SemiBold;
    src: url("BigShouldersDisplay-SemiBold.ttf");
}
@font-face {
	font-family: BebasNeue-Regular;
	src: url("BebasNeue-Regular.ttf");
}

body {
    overflow: -moz-scrollbars-none;
    overflow: hidden !important;
}

/* Play/End Scene Keypads */
.keypad-container {
    position: relative;
    display: inline-block;
}
.keypad-center-letter {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: BebasNeue-Regular;
    color: #22253b;
	pointer-events: none;
}
.keypad-center-letter-inactive {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: BebasNeue-Regular;
    color: #999999;
}
.keypad-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.keypad-image-inactive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(70%);
}
/* Play Scene filled letter spaces */
.word-spaces-container {
    position: relative;
    display: inline-block;
}
.word-spaces-center-letter {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    display: none;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    font-family: Roboto-Bold;
    color: #F41C63;
}
.word-spaces-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* Play Scene timer */
.timer-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 72;
    font-family: BigShouldersDisplay-Semibold;
    color: #FFFFFF;
}
/* Play Scene score */
.score-box {
    position: absolute;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 74pt;
    font-family: BebasNeue-Regular;
    color: #22253b;
    pointer-events: none;
}
/* Play Scene animated score alert */
.score-alert-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 74pt;
    font-family: BigShouldersDisplay-Semibold;
    color: #FFFFFF;
}
/* End Scene timer */
.timer-box-end {
	position: absolute;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 72pt;
	font-family: BigShouldersDisplay-Semibold;
	color: #FFFFFF;
}
/* Text Effects */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.pulse {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out 1 alternate;
    -moz-animation: glow 1s ease-in-out 1 alternate;
    animation: glow 1s ease-in-out 1 alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* Leaderboard Scene score */
.leader-score-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 74pt;
    font-family: BigShouldersDisplay-SemiBold;
    color: #ffffff;
}
/* Text Effects */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.pulse {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out 1 alternate;
    -moz-animation: glow 1s ease-in-out 1 alternate;
    animation: glow 1s ease-in-out 1 alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
/* Leaderboard table */
#top10table {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    font-family: BebasNeue-Regular;
    text-align: center;
    top: 0px;
    left: 38%;
    z-index: 4;
    /*pointer-events: none;*/
}
#top10table .leader-title {
    position: relative;
    width: 90%;
    height: 30%;
    left: 5%;
}
#top10table .leader-container {
    position: relative;
    width: calc(90% + 2vw);
    height: 68%;
    left: calc(5% - 1vw);
}

.table-block table {
    position: relative;
    border-collapse: separate;
    border-spacing: 1vw;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
table th {
    background-color: #23253c;
    font-size: 54pt;/*
    margin-bottom: 1em;
    width: 100%;*/
}
table th.after {
    background-color: #fff;
}
table td {
    /*margin-top: 0.2vh;*/
    background-color: #607d8b;
    font-size: 36pt;
}
table td.after {
    background-color: #fff;
}
table td:nth-child(1) {
    width: 10%;
}
table td:nth-child(2) {
    width: 40%;
}
table td:nth-child(3) {
    width: 50%;
}

/* End Scene initials */
.Initials {
    position: absolute;
    margin: 0px;
	padding: 0px;
    text-align: left;
    font-size: 74pt;
    font-family: BebasNeue-Regular;
    color: #fff;
	pointer-events: none;
}
#inputKeypad {
	flex-flow: row wrap;
	justify-content: center;
}
/* Timeout Overlay */
#timeoutOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    cursor: pointer;
    text-align: center;
    -moz-text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
    -webkit-text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
    text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
}
#timeoutHeader {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 5vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
}
#timeoutInstructions {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#timeoutTimer {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 4vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
}
#fadeOutOverlay {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../images/start_scene/background.png");
    -webkit-filter: blur(8px) grayscale() opacity(1.0);
    filter: blur(8px) grayscale() opacity(1.0);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}
#fadeOutLoader {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 30vw;
    height: 30vw;
    margin: -19vw 0 0 -19vw;
    border: 4vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 4vw solid #f41c63;
    border-bottom: 4vw solid #2581af;
    z-index: 1001;
    
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
